@import "tailwindcss";

body {
 background-color: #f8f8f8;
}

.color-primary{
    background-color:#C122ED;
}

.btn-hero {
    background-color:#C122ED;
    border: 1px #C122ED solid;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    transition: all 0.5s;
}

.btn-hero:hover{
    background-color: transparent;
    border: 1px white solid;
    color: white;
    cursor: pointer;
}

.btn-primary {
    background-color:#C122ED;
    border: 1px #C122ED solid;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    transition: all 0.5s;
}

.btn-primary:hover{
    background-color: transparent;
    border: 1px #C122ED solid;
    color: #C122ED;
    cursor: pointer;
}

.btn-secondary{
    border: 1px #C122ED solid;
    border-radius: 50px;
    transition: all 0.5s;
}

.btn-secondary:hover{
    background-color: #C122ED;
    border: 1px #C122ED solid;
    color: white;
    cursor: pointer;
}

h2{
    font-size: 42px;
}

.nav-separated li:not(:first-child) {
  border-left: 1px solid white;
}

.swiper-pagination{
    margin-bottom: 6px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #C122ED !important;
  opacity: 1;
}

.centrado-absoluto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}